    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="grid">
                    <div class="col-12">
                        <div class="card px-6 py-6">
                              <p-toast></p-toast>
                              <p-toolbar styleClass="mb-4">
                                  <ng-template pTemplate="left">
                                      <div class="my-2">
                                          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      <!--                                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
                                      </div>
                                  </ng-template>

                                  <ng-template pTemplate="right">
<!--                                      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
<!--                                      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>-->
                                  </ng-template>
                              </p-toolbar>
                            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                                     [globalFilterFields]="['productId','productName','publishedBy','contactNumber','price','category']"
                                     [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                     [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true"
                                     dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div
                                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                        <h5 class="m-0">Manage Products</h5>
                                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                       class="w-full sm:w-auto"/></span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th pSortableColumn="productId">ProductId <p-sortIcon field="productId"></p-sortIcon></th>
                                        <th pSortableColumn="productName">Name <p-sortIcon field="productName"></p-sortIcon></th>
                                        <th>Image</th>
                                        <th pSortableColumn="publishedBy">Published By <p-sortIcon field="publishedBy"></p-sortIcon></th>
                                        <th pSortableColumn="contactNumber">Contact Number <p-sortIcon field="contactNumber"></p-sortIcon></th>
                                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                                        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                                        <th pSortableColumn="published">Status <p-sortIcon field="published"></p-sortIcon></th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr>
                                        <td>
                                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                        </td>
                                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                                            {{product.productId}}
                                        </td>
                                        <td style="width:14%; min-width:10rem;">
                                            <span class="p-column-title">Name</span>
                                            {{product.productName}}
                                        </td>
                                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                                            <img [src]="'data:image/jpeg;base64,' + product.productImage"  [alt]="product.productName" width="100" class="shadow-4" />
                                        </td>
                                        <td style="width:14%; min-width:10rem;">
                                            <span class="p-column-title">Published By</span>
                                            {{product.publishedBy}}
                                        </td>
                                        <td style="width:14%; min-width:10rem;">
                                            <span class="p-column-title">Contact Number</span>
                                            {{product.contactNumber}}
                                        </td>
                                        <td style="width:14%; min-width:8rem;">
                                            <span class="p-column-title">Price</span>
                                            {{product.price | currency:'INR'}}
                                        </td>
                                        <td style="width:14%; min-width:10rem;">
                                            <span class="p-column-title">Category</span>
                                            {{product.categoryName}}
                                        </td>
                                        <td style="width:14%; min-width:10rem;">
                                            <span class="p-column-title">Status</span>
                                            <span *ngIf="product.published">Active</span>
                                            <span *ngIf="!product.published">Inactive</span>
                                        </td>
                                        <td>
                                            <div class="flex">
                                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
                                <ng-template pTemplate="content">
                                    <form [formGroup]="updateForm">
                                        <div class="field"  *ngIf="!product.productImage">
                                            <label for="imageUpload">Upload Image</label>
                                            <p-fileUpload
                                                formControlName="productImage"
                                                id="imageUpload"
                                                name="image"
                                                customUpload="true"
                                                (uploadHandler)="onUpload($event)"
                                                accept="image/*"
                                                maxFileSize="5000000"
                                                [auto]="true"
                                                mode="basic"
                                                chooseLabel="Choose Image">
                                            </p-fileUpload>
                                        </div>

                                        <!-- Preview the selected image -->
                                        <div *ngIf="imagePreview" class="image-preview">
                                            <img [src]="imagePreview" alt="Image Preview"  width="100px" height="100px" style="object-fit: cover; display: block; margin: 0 auto;"/>
                                        </div>

                                    <img [src]="'data:image/jpeg;base64,' + product.productImage"  [alt]="product.productName"  width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.productImage">
                                    <div class="field">
                                        <label for="name">Name</label>
                                        <input type="text" pInputText id="name" formControlName="productName" [(ngModel)]="product.productName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.productName}"/>
                                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.productName">Name is required.</small>
                                    </div>
                                    <div class="field">
                                        <label for="description">Description</label>
                                        <textarea id="description" formControlName="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
                                    </div>
                                    <div class="field"  *ngIf="product.productImage">
                                        <label for="users">Users</label>
                                        <input id="users" formControlName="publishedBy"  [(ngModel)]="product.publishedBy" pInputText>
                                    </div>
                                    <div class="field">
                                         <label for="contactNumber">Contact Number</label>
                                         <input id="contactNumber" formControlName="contactNumber" pInputText [(ngModel)]="product.contactNumber" required >
                                    </div>
                                    <div class="field">
                                        <label for="category">Category</label>
                                        <p-dropdown id="category" [options]="categoryList" optionLabel="categoryName" optionValue="categoryId" [showClear]="true"  placeholder="Select a Category" [(ngModel)]="product.categoryId" formControlName="categoryId"></p-dropdown>
                                    </div>
                                    <div class="formgrid grid">
                                        <div class="field col">
                                            <label for="price">Price</label>
                                            <p-inputNumber id="price" formControlName ="price" [(ngModel)]="product.price" mode="currency" currency="INR" locale="en-US"></p-inputNumber>
                                        </div>
                                    </div>
                                    </form>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                                </ng-template>
                            </p-dialog>

                        </div>
                    </div>
                </div>
            </div>

           <!-- <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="product">Are you sure you want to delete <b>{{product.productName}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete(product)"></button>
                </ng-template>
            </p-dialog>-->

        </div>
    </div>
