/*
.image-preview {
    width: 100px; !* Adjust width as needed *!
    height: 100px; !* Adjust height as needed *!
}

.image-preview img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
*/
